@model sistem_wisata.Models.Wisata

@{
    ViewData["Title"] = "Delete Wisata";
}

<h3>Hapus Data Tempat Wisata</h3>
<h6>Apakah anda yakin ingin Menghapus?</h6>
<hr />
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Nama Wisata
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nama_Wisata)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Deskripsi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Deskripsi)
            </dd>
            <dt class="col-sm-2">
                Foto Wisata
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Foto_Wisata)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kategori)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kategori.Nama_Kategori)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lokasi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lokasi.Nama_Lokasi)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Hapus" class="btn btn-danger btn-sm" /> |
            <a asp-action="Index">Kembali ke list</a>
        </form>
    </div>
</div>
