@model sistem_wisata.Models.Wisata

@{
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<div class="content-1 card text-bg-dark">
    <img src="@Url.Content("~/images/wisata/front-1.jpg")" class="card-img" />
    <div class="card-img-overlay">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed">
                <div class="container">
                    <a class="navbar-brand" href="{{url('/')}}">JawaTengah</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Main">Beranda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Destinasi">Wisata</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="About">Tentang Kami</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row gx-0">
                <div class="col">
                    <hr class="border-light border-2 ">
                </div>
                <div class="col">
                    <hr class="border-danger border-2 ">
                </div>
                <div class="col">
                    <hr class="border-light border-2 ">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content-5">
        <div class="">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url('/') }}">Beranda</a></li>
                <li class="breadcrumb-item"><a href="{{ url('wisatas') }}">Wisata</a></li>
                <li class="breadcrumb-item"><a href="{{ url('jawa') }}">Jawa</a></li>
                <li class="breadcrumb-item">@Html.DisplayFor(model => model.Nama_Wisata)</li>
            </ol>
        </div>

        <div class="judul">
            <h1 class="a">@Html.DisplayFor(model => model.Nama_Wisata)</h1>
            <hr class="border-dark border-2 ">
        </div>

    </div>
</div>
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <div class="img-show">
                                <img src="@Url.Content("~/images/" + Model.Foto_Wisata)" class="card-img-top" />
                            </div>
                        </div>
                        <section id="sejarah">
                            <div class="blog_details">
                                <h1 class="d-inline-block">Deskripsi</h1>
                                <p>@Html.DisplayFor(model => model.Deskripsi)</p>
                            </div>
                        </section>
                    </article>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    @* <aside class="single_sidebar_widget post_category_widget shadow">
                        <h4 class="widget_title">Deskripsi</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#sejarah" class="d-flex">
                                    <p>Penjelasan</p>
                                </a>
                            </li>
                            <li>
                                <a href="#event" class="d-flex">
                                    <p>Event</p>
                                </a>
                            </li>
                            <li>
                                <a href="#kategori" class="d-flex">
                                    <p>Kategori</p>
                                </a>
                            </li>
                        </ul>
                    </aside> *@
                    @* <section id="event">
                    <aside class="single_sidebar_widget popular_post_widget shadow">
                    <h3 class="widget_title">Events</h3>
                    <div class="media post_item">
                    <img src="{{ asset('images/event/' . $event->foto) }}" alt="">
                    <div class="media-body">
                    <a href="single-blog.html">
                    <a>{{$event->nama_event}}</a>
                    </a>
                    <p>{{$event->tanggal}}</p>
                    <p>{{$event->status}}</p>
                    </div>
                    </div>
                    </aside>
                    </section> *@

                    <section id="kategori">
                        <aside class="single_sidebar_widget tag_cloud_widget shadow">
                            <h4 class="widget_title">kategori</h4>
                            <ul class="list">
                                <li>
                                    @Html.DisplayFor(model => model.Kategori.Nama_Kategori)
                                </li>
                            </ul>
                        </aside>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
